@layer utilities {

  .flex_column {
    flex-direction: column
    }

  .pos_fixed {
    position: fixed
    }

  .top_0 {
    top: var(--spacing-0)
    }

  .left_0 {
    left: var(--spacing-0)
    }

  .right_0 {
    right: var(--spacing-0)
    }

  .bottom_0 {
    bottom: var(--spacing-0)
    }

  .bg_gray\.50 {
    background: var(--colors-gray-50)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .pos_absolute {
    position: absolute
    }

  .top_4 {
    top: var(--spacing-4)
    }

  .left_4 {
    left: var(--spacing-4)
    }

  .bg_white {
    background: var(--colors-white)
    }

  .p_3 {
    padding: var(--spacing-3)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .border_1px_solid {
    border: 1px solid
    }

  .border_gray\.300 {
    border-color: var(--colors-gray-300)
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .font_mono {
    font-family: var(--fonts-mono)
    }

  .mt_2 {
    margin-top: var(--spacing-2)
    }

  .bg_blue\.500 {
    background: var(--colors-blue-500)
    }

  .mt_1 {
    margin-top: var(--spacing-1)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .bg_green\.500 {
    background: var(--colors-green-500)
    }

  .text_white {
    color: var(--colors-white)
    }

  .rounded_sm {
    border-radius: var(--radii-sm)
    }

  .fs_xs {
    font-size: var(--font-sizes-xs)
    }

  .cursor_pointer {
    cursor: pointer
    }

  .columns_5 {
    columns: 5
    }

  .color-scheme_place-value {
    color-scheme: place-value
    }
}