@layer utilities {

  .text_gray\.400 {
    color: var(--colors-gray-400)
    }

  .bg_green\.100 {
    background: var(--colors-green-100)
    }

  .text_green\.800 {
    color: var(--colors-green-800)
    }

  .border_green\.300 {
    border-color: var(--colors-green-300)
    }

  .bg_blue\.100 {
    background: var(--colors-blue-100)
    }

  .text_blue\.800 {
    color: var(--colors-blue-800)
    }

  .border_blue\.300 {
    border-color: var(--colors-blue-300)
    }

  .bg_red\.100 {
    background: var(--colors-red-100)
    }

  .text_red\.800 {
    color: var(--colors-red-800)
    }

  .border_red\.300 {
    border-color: var(--colors-red-300)
    }

  .bg_gray\.100 {
    background: var(--colors-gray-100)
    }

  .border_gray\.300 {
    border-color: var(--colors-gray-300)
    }

  .px_3 {
    padding-inline: var(--spacing-3)
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .cursor_pointer {
    cursor: pointer
    }

  .transition_all_0\.2s {
    transition: all 0.2s
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .bg_white {
    background: var(--colors-white)
    }

  .border_1px_solid {
    border: 1px solid
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .mb_4 {
    margin-bottom: var(--spacing-4)
    }

  .text_gray\.800 {
    color: var(--colors-gray-800)
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .text_gray\.700 {
    color: var(--colors-gray-700)
    }

  .mt_4 {
    margin-top: var(--spacing-4)
    }

  .pt_3 {
    padding-top: var(--spacing-3)
    }

  .border-t_1px_solid {
    border-top: 1px solid
    }

  .border_gray\.200 {
    border-color: var(--colors-gray-200)
    }

  .fs_xs {
    font-size: var(--font-sizes-xs)
    }

  .text_gray\.600 {
    color: var(--colors-gray-600)
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .mb_2 {
    margin-bottom: var(--spacing-2)
    }

  .items_stretch {
    align-items: stretch
    }

  .flex_column {
    flex-direction: column
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .flex-wrap_wrap {
    flex-wrap: wrap
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .flex_row {
    flex-direction: row
    }

  .hover\:opacity_0\.8:is(:hover, [data-hover]) {
    opacity: 0.8
        }
}